{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm"> 
                        <img src="/images/">
                        <div class="card-body">
                            <h2 class="card-text">Red Dead Redemption 2</h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Play game</button> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Rate game</button> </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm"> 
                        <img src="/images">
                        <div class="card-body">
                            <h2 class="card-text">Spider-Man 2</h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Play game</button> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Rate game</button> </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm"> 
                        <img src="/images">
                        <div class="card-body">
                            <h2 class="card-text">The Legend of Zelda: Breath of the Wild </h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Play game</button> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Rate game</button> </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm"> 
                        <img src="/images">
                        <div class="card-body">
                            <h2 class="card-text">The Witcher 3: Wild Hunt</h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Play game</button> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Rate game</button> </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm"> 
                        <img src="/images">
                        <div class="card-body">
                            <h2 class="card-text">Horizon Forbidden West/Zero Dawn</h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Play game</button> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Rate game</button> </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm"> 
                        <img src="/images">
                        <div class="card-body">
                            <h2 class="card-text">Uncharted: The Nathan Drake Collection</h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Play game</button> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Rate game</button> </div> 
                            </div>
                        </div>
                    </div>
                </div>
                
        </div>
    </div>
{% endblock %}