{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm"> 
                        <img src="/images/">
                        <div class="card-body">
                            <h2 class="card-text">Portal 1 & 2</h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Play game</button> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Rate game</button> </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm"> 
                        <img src="/images">
                        <div class="card-body">
                            <h2 class="card-text">The Witness</h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Play game</button> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Rate game</button> </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm"> 
                        <img src="/images">
                        <div class="card-body">
                            <h2 class="card-text">The Talos Principle</h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Play game</button> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Rate game</button> </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm"> 
                        <img src="/images">
                        <div class="card-body">
                            <h2 class="card-text">Superliminal</h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Play game</button> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Rate game</button> </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm"> 
                        <img src="/images">
                        <div class="card-body">
                            <h2 class="card-text">Viewfinder</h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Play game</button> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Rate game</button> </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm"> 
                        <img src="/images">
                        <div class="card-body">
                            <h2 class="card-text">Antichamber</h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Play game</button> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Rate game</button> </div> 
                            </div>
                        </div>
                    </div>
                </div>
                
        </div>
    </div>
{% endblock %}